<mat-toolbar color="primary">
  <div class="menu">
    <button routerLink="/simple" mat-button>Simple</button>
    <button routerLink="/input" mat-button>Input</button>
    <button routerLink="/pipe" mat-button>pipe</button>
    <button routerLink="/trackBy" mat-button>trackBy</button>
    <button routerLink="/expression-already-changed" mat-button>
      Expression Already Changed
    </button>
    <button routerLink="/manual" mat-button>Manual</button>
    <span class="cds">Zoneless</span>
  </div>
</mat-toolbar>
<router-outlet (activate)="activateRoute()"></router-outlet>
